*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tabs{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs li{
    padding: 10px;
    background-color: #f6f4f4;
    border-left: 1px solid white;
    cursor: pointer;
    transition: .7s;
}
.tabs li.active,
.tabs li:hover{
    background-color: #ddd;
}
.content{
    background-color: #ddd;

}

.content div{
    padding: 20px;
}
.content > div:not(:first-child){
    display: none;
}